h2 {
    text-transform: uppercase;
    margin-top: 2em;
    background: lightgray;
    padding: 0.5em 0.5em;
    margin-left: -0.5em;
    margin:100px;
}

h3 {
    /* border-top: 4px solid lightgray; */
    /* font-family: monospace; */
    padding-top: 0.5em;
    margin: 1.5em 0 0.5em 0;
}
h2+h3 {
    border-top: none;
    margin-top: 0;
}

.md-typeset {
    position: relative;
} 

.md-content ul {
    margin-top: 1em;
    /* margin-bottom: 1.5em; */
}

.md-content ul li {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
    font-size: 0.875em;
    /* list-style: none; */
}

.md-content ul li code {
    font-size: 0.83333em !important;
}

.md-content code::before {
    font-size: 0.8em;
    display: block;
    font-style: italic;
    margin-top: -10px;
    padding: 6px 0;
    color: gray;
}
.md-content code.javascript::before {
    content: "in use";
}
.md-content code.function::before {
    content: "function";
}


.md-content li em {
    font-size: 0.83333em;
    color: gray;
}

/* p {margin-bottom: 0.5em;} */

.md-content pre {
    margin: 0.5em 0;
}
.md-content pre code {
    padding:12px 12px 8px 12px;
}

/* #### Menu ### */
/* .wy-menu-vertical p.caption + ul {
    margin-left: 12px;
} */

/* .highlight-inline span {
    
} */

.md-typeset ul code {
    color: var(--md-code-hl-number-color);
    background-color: rgb(238,238,238);
    padding: 2px 4px;
    
}


 
.linenodiv > pre,
.md-content table.highlighttable tbody tr td.code div.highlight > pre {
    /* color: red; */
    margin: 0;
}

/* .md-content pre {
    margin:0;
} */

.md-typeset p, .md-typeset ul, .md-typeset ol, .md-typeset blockquote {
    font-size: 0.75em;
}
.md-typeset p {
    display: inline;
}  

.md-typeset h3 {
    font-weight: 700;
    font-size: 1em;
    display: inline-block;
}

h3::before {
    content: "";
    border-bottom: 4px solid lightgray;
    width: 100%;
    display: block;
    position: absolute;
    padding-top: 0 !important;
}    